{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="delete-container">
  <div class="pizza-pic">
    <img src="{% static "images/olives.png" %}" alt="A slice of pizze with arms and legs">
  </div>
  <h2 class='delete-message'>Are you sure you want to throw away this {{object.name}} forever?</h2>
  <form action="" method="post" class="form">
    {% csrf_token %}
    <div class="button-container">
      <a href="{% url "pizza-detail" pizza.id %}" class="btn">Cancel</a>
      <button type="submit" class="btn">Delete</button>
    </div>
  </form>
</div>

{% endblock %}