{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "css/pizza/pizza-detail.css" %} ">
{% endblock %}

{% block content %}
<div class="pizza-container">
  <div class="pizza-img">
    <div class="name">{{pizza.name}}</div>
    <img src="{% static "images/pizza-pie.png" %}" alt="">
  </div>
  <div class="pizza-details">
    <h1>Ingredients</h1>
    <h2>{{pizza.ingredients}}</h2>
    <h1>Pizza Info</h1>
    <h2>{{pizza.description}}</h2>
    <h1>Restaurant/Establishment</h1>
    <h2>{{pizza.location}}</h2>
  </div>
  {% if pizza.user == user %}
  <div class="button-container">
    <a href="{% url "pizza-update" pizza.id%}" class="btn">Edit</a>
    <a href="{% url "pizza-delete" pizza.id%}" class="btn">Delete</a>
  {% else %}
  <a href="{% url "pizza-index" %}" class="btn">Back</a> 
  </div>
  {% endif %}
</div>
{% endblock %}