{% extends "base.html" %}
{% load static %}

{% block head %}
<link 
rel="stylesheet" 
type="text/css"
href="{% static "css/home.css" %}"
>
{% endblock %}

{% block content %}
<section class="logo-container">
  <h1>PizzaPie</h1>
  <p>Talk Pizza to Me</p>
  <div class="pizza-container">
   <img src="" alt="">
  </div>
</section>
{% if not user.is_authenticated %}
<section>
  <h1>Log In</h1>
  <form action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}
      <input type="hidden" name="next" value="{{ next }}">
      <button type="submit" class="btn">Login</button>
  </form>
</section>
{% endif %}

{% endblock %}