.pizza-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 4px;
  background-color: #FEEAFA;
  width: 75%;
  height: auto;
}

a {
  text-decoration: none;
  list-style: none;
}

.pizza-img {
  width: 75%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pizza-img img {
  width: 75px;
}

.pizza-container img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 42px;
  font-weight: bold;
}

.pizza-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pizza-details h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 15px 0 3px;
  border-bottom: 2px solid black;
}

.pizza-details h2 {
  font-size: 16px;
  margin: 0 0 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  color: rgb(58, 58, 58)
}

.subsection-content input,
.subsection-content select {
  margin-left: 5px;
  padding: 3px;
}


#file-input {
  overflow: hidden;
  position: absolute;
  width: 0.1px;
  height: 0.1px;
}

#file-name {
  margin-bottom: 10px;
}

@media only screen and (min-width: 300px) {
  .pizza-container {
    padding: 35px 30px;
    align-items: center;
    justify-content: start;
  }

  .pizza-img img {
    width: 75%;
  }

}

@media only screen and (min-width: 1024px) {
.pizza-container a {
  text-decoration: none;
  }
}