.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.page-container{
  border: 2px solid black;
  border-radius: 6px;
  width: 75%;
  height: 550px;
  box-shadow: 2px 2px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #FEEAFA;
  opacity: .95;
}

.signup-container {
  border: 2px solid black;
  border-radius: 4px;
  background-color: #FEEAFA;
  opacity: .95;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-container .btn{
  align-items: center;
  box-shadow: 2px 2px;
}

table {
  padding: 0 40px;
  width: 100%;
  border-spacing: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

table input {
  width: 300px;
  height: 30px;
  border-radius: 4px;
}

table textarea {
  width: 300px;
  height: 30px;
  border-radius: 4px;
}

th {
  text-align: left;
  padding: 6px 20px 0 0;
  font-weight: normal;
  vertical-align: top;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  
}

td {
  max-width: 60%;
}

td > * {
  width: 100%;
  padding: 2px 4px;
  font-size: 14px;
}

td > textarea {
  height: 75px;
  font-family: inherit;
}


.page-header img{
  width: 75px;
}




